---
---

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400&subset=latin,cyrillic-ext,cyrillic,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,cyrillic-ext,cyrillic,latin-ext);

@import 'colors.scss';
@import 'normalize.scss';
@import 'grid.scss';
// @import 'backgrounds.scss';
@import 'general.scss';
@import 'layout.scss';
@import 'text.scss';
@import 'header.scss';
@import 'footer.scss';

@import 'font-awesome.min.scss';

// @import 'preloader.scss';

@import 'logo.scss';
@import 'button.scss';
@import 'table.scss';
@import 'forms.scss';
@import 'search.scss';

// @import 'tags.scss';
@import 'menu.scss';

// @import 'languages.scss';

// @import 'pageinfo.scss';
// @import 'rotator.scss';

// @import 'categoryinfo.scss';

// @import 'promotitle.scss';
// @import 'box.scss';
// @import 'number.scss';

// @import 'browser.scss';

// @import 'note.scss';
// @import 'modal.scss';
@import 'codehighlight.scss';

@import 'filetree.scss';

// @import 'skills.scss';
// @import 'steps.scss';
// @import 'columnfill.scss';


// @import 'faq.scss';
// @import 'info.scss';
// @import 'category.scss';
// @import 'tabs.scss';

// @import 'navigation.scss';

// @import 'video.scss';
// @import 'listview.scss';
// @import 'gridview.scss';

// @import 'social.scss';

// @import 'notification.scss';

// @import 'login_signup.scss';

// @import 'contacts.scss';

//  @import 'blog.scss';

// @import 'changelog.scss';

// @import '_rest.scss';

@import '_sg.scss';
@import '_sg_navigation.scss';
@import '_sg_tables.scss';
@import '_sg_edition_buttons.scss';
@import '_sg_header_footer.scss';
@import '_sg_toc.scss';
@import '_sg_notes.scss';
@import '_sg_accordeon.scss';
@import '_sg_code.scss';
@import '_sg_search.scss';
@import '_sg_book_downloads.scss';
@import '_sg_media_selectors.scss';