/* ==========================================================================
   Headlines
   ========================================================================== */

h1{
  color: $darkBlue
}

h2{
  margin-top:1.3em;
  color: $darkBlue
}

h3{
  margin-top:1em;
  color: $darkBlue
}

h4{
  margin-top:2em;
  color: $darkBlue
}

/* ==========================================================================
   Links
   ========================================================================== */

a{
  color: $navyBlueHover;
  text-decoration: underline;
}

/* ==========================================================================
   Unordered List
   ========================================================================== */
ul {
  margin: 0;
  padding: 0;
  list-style: disc;
  margin: 0 0 1em 1.2em;
  line-height: 1.8;
  font-weight:300;
}
ul ul {
  margin-bottom: 0;
}

/* ==========================================================================
   Ordered List
   ========================================================================== */
ol {
  margin: 0;
  padding: 0;
  list-style: decimal;
  margin: 0 0 1em 1.5em;
  line-height: 1.8;
}
ol ol {
  margin-bottom: 0;
}
/* ==========================================================================
   Definition List
   ========================================================================== */
dl {
  overflow: hidden;
  margin: 0 0 1em;
  font-weight: 300;
  line-height: 1.8;
}
dd {
  margin-left: 0;
  line-height: 1.8;
}
dt {
  font-weight: 500;
  line-height: 1.8;
}

.sr_text{
  font-size:1em;
  font-weight:300;
  line-height:1.8;
}

.md_image{
  border:1px solid;
  padding:20px;
}

.logo-image img{
  max-width:100%;
  height:60px;
  width:auto;
}

.version{
  margin-bottom:10px;
  font-weight:500;
  font-size:1.2em;
  vertical-align:middle;
  line-height: 1.5;
  color: $navyBlue;
}

.vcenter {
  display: flex;
  align-items: center;
}

.contact-us-button {
  margin-top:50px;
  margin-bottom:50px;
}

