.menu-vertical {
  background-color: #e8eced;
}

.main-nav-level-1 {
  color: #fff;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 2px;
}

a.main-nav-level-1.active {
  font-weight: 900 !important;
  border-bottom: 3px solid #fff !important;
  padding-bottom: 5px;
}

.main-nav-level-1-bold {
  color: #fff;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 900;
  margin-bottom: 2px;
}

.main-nav-level-2 {
  font-size: 1.1em !important;
}

.left-nav-level-1 > a {
  font-size: 1em !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.left-nav-level-2 a {
  font-size: 0.9em !important;
}

.left-nav-level-3 a, .left-nav-level-4 a {
  font-size: 0.85em !important;
}

.menu ul {
  border-style: none;
}

li.selected > a{
  font-weight: 500 !important;
}