.header {
  background-color: $navyBlue;
}

.footer {
  background: $darkBlue;
  color:  $white;
}

.copyright a {
  color:  $white;
}

.footer-menu li a {
  color: $white;
}

.fa-angle-up:before {
  color: $white;
}
