.changelog-wrapper {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
}
.changelog-state-new {
  color: #98C74E;
}
.changelog-state-updated {
  color: #ff4f26;
}
.changelog-state-removed {
  color: red;
}
.changelog-filters {
  background-color: #fcfcfc;
  padding: 20px 0 17px 20px;
  text-align: left;
  font-weight: 300;
  border: 1px solid #cbd3dd;
  position: relative;
  top: 1px;
  border-radius: 3px 3px 0 0;
}
.changelog-filters .changelog-link {
  height: 30px;
  bottom: -30px;
  background-color: #F2F2F2;
}
.changelog-filters label {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
}
.changelog-filters input {
  margin-right: 5px;
}
.changelog-checkbox {
  opacity: 0;
  position: absolute;
}
.changelog-checkbox,
.changelog-checkbox-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}
.changelog-checkbox-label {
  position: relative;
  color: #676b6e;
}
.changelog-checkbox + .changelog-checkbox-label:before {
  content: '';
  background: #fff;
  border: 1px solid #cbd3dd;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 2px;
  margin-right: 13px;
  text-align: center;
  margin-top: -4px;
}
.changelog-checkbox:checked + .changelog-checkbox-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  background: #98C74E;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  border: 1px solid transparent;
}
.changelog-item {
  border: 1px solid #cbd3dd;
  padding: 30px 40px;
  margin-bottom: 100px;
  position: relative;
  border-radius: 3px;
}
.changelog-item.changelog-view-files .changelog-update-descriptions {
  display: none;
}
.changelog-item.changelog-view-files .changelog-files-changed {
  display: block;
}
.changelog-item.changelog-view-files .changelog-switch:before {
  display: none;
}
.changelog-item.changelog-view-files .changelog-switch:after {
  display: block;
}
.changelog-item:before,
.changelog-item:after {
  display: block;
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid #cbd3dd;
  border-radius: 50%;
  left: 50%;
  background-color: white;
  margin-left: -4px;
  z-index: 2;
}
.changelog-item:first-child {
  border-radius: 0 0 3px 3px;
}
.changelog-item:first-child:before,
.changelog-item:last-child:after,
.changelog-item:last-child .changelog-link {
  display: none;
}
.changelog-item:after {
  bottom: -4px;
}
.changelog-item:before {
  top: -4px;
}
.changelog-link {
  position: absolute;
  bottom: -101px;
  left: 50%;
  width: 1px;
  height: 100px;
  background-color: #cbd3dd;
}
.changelog-header {
  position: relative;
}
.changelog-version {
  margin: 0;
}
.changelog-version a {
  color: inherit;
  text-decoration: none;
}
.changelog-version a:hover:after {
  opacity: 0.8;
}
.changelog-version a:after {
  content: '\f0c1';
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  font-family: 'FontAwesome';
  font-size: 18px;
  vertical-align: 1px;
  color: #808488;
  margin-left: 10px;
  opacity: 0.4;
}
.changelog-date {
  margin: 5px 0 0 0;
  font-size: 0.875em;
  color: #808488;
}
.changelog-switch {
  position: absolute;
  top: 7px;
  right: 0;
  font-size: 15px;
  color: #808488;
  font-weight: 300;
  border: 1px solid #C5C5C5;
  display: block;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  width: 190px;
  text-align: center;
}
.changelog-switch:before {
  content: 'veiw updated files';
  display: block;
}
.changelog-switch:after {
  content: 'view updated features';
  display: none;
}
.changelog-update-description {
  line-height: 25px;
  position: relative;
  padding-left: 115px;
  margin-top: 20px;
  border-top: 1px solid #cbd3dd;
  padding-top: 20px;
}
.changelog-files-changed {
  display: none;
}
.changelog-update-description.changelog-improvement .changelog-type {
  background-color: #4AA3BA;
}
.changelog-update-description.changelog-bug-fix .changelog-type {
  background-color: #DA5C53;
}
.changelog-type {
  background-color: #98C74E;
  color: white;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  padding: 0 10px;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 100px;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 19px;
}
.changelog-files-changed-toolbar {
  background-color: #f6f7f8;
  margin: 30px 0 35px 0;
  z-index: 2;
  border: 1px solid #cbd3dd;
  border-radius: 3px;
  font-size: 14px;
}
.changelog-files-changed-filters {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: #73777b;
  position: relative;
}
.changelog-files-changed-filters li {
  float: left;
  width: 33.33%;
  text-align: center;
}
.changelog-files-changed-filters:after {
  display: block;
  clear: both;
  content: '';
}
.changelog-files-changed-filter {
  display: block;
  padding: 10px 15px;
  cursor: pointer;
  text-indent: -10px;
  -webkit-transition: opacity 0.3s ease, background-color 0.3s ease;
  -moz-transition: opacity 0.3s ease, background-color 0.3s ease;
  -ms-transition: opacity 0.3s ease, background-color 0.3s ease;
  -o-transition: opacity 0.3s ease, background-color 0.3s ease;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}
.changelog-files-changed-filter.inactive {
  opacity: 0.4;
}
.changelog-files-changed-filter.inactive i {
  color: #808488;
}
.changelog-files-changed-filter:hover {
  background-color: #e8eaed;
}
.changelog-files-changed-filter i {
  vertical-align: middle;
  margin-right: 8px;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
}
.changelog-file-changed {
  padding-bottom: 20px;
  border-top: 1px solid #cbd3dd;
  padding-top: 20px;
  line-height: 25px;
  font-weight: 300;
  position: relative;
}
.changelog-file-changed:before {
  content: '\f016';
  font-family: 'FontAwesome';
  color: #98C74E;
  margin-right: 6px;
  font-size: 15px;
}
.changelog-file-changed:after {
  opacity: 0;
  position: absolute;
  display: block;
  content: ' ';
  right: 0px;
  top: 20px;
  background-color: white;
  font-size: 14px;
  padding: 0px 5px;
  width: 70px;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  -ms-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
.changelog-file-changed.changelog-file-updated:before {
  content: '\f021';
  color: #ff4f26;
}
.changelog-file-changed.changelog-file-updated:hover:after {
  opacity: 1;
  color: #ff4f26;
  border: 1px solid #ff4f26;
  content: 'updated';
}
.changelog-file-changed.changelog-file-new:before {
  content: '\f067';
}
.changelog-file-changed.changelog-file-new:hover:after {
  opacity: 1;
  color: #98C74E;
  border: 1px solid #98C74E;
  content: 'new';
}
.changelog-file-changed.changelog-file-removed:before {
  content: '\f00d';
  color: red;
}
.changelog-file-changed.changelog-file-removed:hover:after {
  opacity: 1;
  color: red;
  border: 1px solid red;
  content: 'removed';
}
input.changelog-input {
  display: none;
}
.changelog-scroll-to {
  position: absolute;
  display: block;
  top: 0;
  line-height: 73px;
  height: 100%;
  padding: 0px 10px 0px 25px;
  right: 0;
  cursor: pointer;
  border-left: 1px solid #dae0e7;
  -webkit-transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  -ms-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  color: #676b6e;
}
.changelog-scroll-to:hover {
  background-color: #fcfcfc;
}
.changelog-scroll-to:hover .changelog-scroll-to-list {
  display: block;
}
.changelog-scroll-to i {
  font-size: 20px;
  vertical-align: middle;
  color: #333333;
}
.changelog-scroll-to-list {
  display: none;
  position: absolute;
  top: 100%;
  background-color: white;
  z-index: 5;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 225px;
  left: -1px;
  right: -1px;
  border: 1px solid #cbd3dd;
  text-align: center;
  overflow-y: scroll;
}
.changelog-scroll-to-list-item {
  border-bottom: 1px solid #eaedf1;
}
.changelog-scroll-to-list-item:last-child {
  border-bottom: 0;
}
.changelog-scroll-to-list-item a {
  text-decoration: none;
  padding: 8px 15px;
  color: inherit;
  display: block;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
}
.changelog-scroll-to-list-item a:hover {
  color: #2288cc;
}