/* ==========================================================================
   Colors configuration
   ========================================================================== */

$navyBlue: #246E94;
$darkBlue: #184962;
$navyBlueHover: #1E5B7A;
$navyBlueActive: #184962;
$turkis: #00FCE5;
$turkisHover: #00E3CE;
$turkisActive: #00C9B7;
$green: #007D71;
$darkGrey: #63737E;
$grey: #E8ECED;
$lightGrey: #F5F7F7;
$communityEdition: #00C9B7;
$enterpriseEdition: #009688;
$complianceEdition: #007D71;
$editionText: #0A635B;
$white: #FFF;
$buttonGhost: #0A635B;
$textLoud: #184962;
$buttonGreen: #009688;
$borderColor: #CCCCCC;
$borderGrey: #E0E0E0;
$backButton: #08998B;

$color_black:        #333    ;
$color_grey:         #99a3b1 ;
$color_grey-dark:    #808488 ;
$color_grey-lighter: #F6F7F8 ;
$color_grey-light: 	 #CBD3DD ;
$color_blue:         #28C    ;
$color_blue-light:   #48CACC ;
$color_purple:       #8D3DEB ;
$color_orange:       #FF530D ;
$color_green:        #4b5    ;
$color_red:          #FF3625 ;
$color_yellow:       #FDC441 ;