/* ==========================================================================
   Fonts configuration
   ========================================================================== */

// Importing fonts from http://google.com/fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400&subset=latin,cyrillic-ext,cyrillic,latin-ext&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,cyrillic-ext,cyrillic,latin-ext&display=swap);

// Font Family
$font_primary: 'Roboto', sans-serif;
$font_secondary: "Roboto Slab", serif;

// Icons
$icons: 'FontAwesome';

// Font Size
$font-size_base: 16;

// Font Weight
$font_thin: 100;
$font_light: 300;
$font_normal: 400;
$font_medium: 500;
$font_bold: 700;
$font_black: 900;
