.separator {
  height: 1px;
  width: 100%;
  background-color: #cbd3dd;
  margin: 30px 0;
}
.separator.without-border {
  border: none;
}
.placeholder-horizontal {
  width: 100%;
  height: auto;
}
.placeholder-vertical {
  height: 100%;
  width: auto;
}
.helper.center {
  text-align: center;
}
.helper.left {
  text-align: left;
}
.helper.right {
  text-align: right;
}
.helper.hide {
  display: none;
}
.helper.m0 {
  margin: 0;
}
.helper.p0 {
  padding: 0;
}
.helper.overflow-hidden-lg {
  overflow: hidden;
}
.helper.mb0 {
  margin-bottom: 0px;
}
.helper.mb10 {
  margin-bottom: 10px;
}
.helper.mb20 {
  margin-bottom: 20px;
}
.helper.mb30 {
  margin-bottom: 30px;
}
.helper.mb40 {
  margin-bottom: 40px;
}
.helper.mb60 {
  margin-bottom: 60px;
}
.helper.mb80 {
  margin-bottom: 80px;
}
.helper.mb100 {
  margin-bottom: 100px;
}
.helper.mr0 {
  margin-right: 0px;
}
.helper.mr10 {
  margin-right: 10px;
}
.helper.mr20 {
  margin-right: 20px;
}
.helper.mr30 {
  margin-right: 30px;
}
.helper.mr40 {
  margin-right: 40px;
}
.helper.mr60 {
  margin-right: 60px;
}
.helper.ml0 {
  margin-left: 0px;
}
.helper.ml10 {
  margin-left: 10px;
}
.helper.ml20 {
  margin-left: 20px;
}
.helper.ml30 {
  margin-left: 30px;
}
.helper.ml40 {
  margin-left: 40px;
}
.helper.ml60 {
  margin-left: 58px;
}
.helper.mt0 {
  margin-top: 0px;
}
.helper.mt10 {
  margin-top: 10px;
}
.helper.mt20 {
  margin-top: 20px;
}
.helper.mt30 {
  margin-top: 30px;
}
.helper.mt40 {
  margin-top: 40px;
}
.helper.mt60 {
  margin-top: 60px;
}
.helper.pt0 {
  padding-top: 0px;
}
.helper.pt10 {
  padding-top: 10px;
}
.helper.pt20 {
  padding-top: 20px;
}
.helper.pt30 {
  padding-top: 30px;
}
.helper.pt40 {
  padding-top: 40px;
}
.helper.pt60 {
  padding-top: 60px;
}
.helper.pt80 {
  padding-top: 80px;
}
.helper.pt90 {
  padding-top: 90px;
}
.helper.pt100 {
  padding-top: 100px;
}
.helper.pb0 {
  padding-bottom: 0px;
}
.helper.pb10 {
  padding-bottom: 10px;
}
.helper.pb20 {
  padding-bottom: 20px;
}
.helper.pb30 {
  padding-bottom: 30px;
}
.helper.pb40 {
  padding-bottom: 40px;
}
.helper.pb60 {
  padding-bottom: 60px;
}
.helper.pl0 {
  padding-left: 0px;
}
.helper.pl10 {
  padding-left: 10px;
}
.helper.pl20 {
  padding-left: 20px;
}
.helper.pl30 {
  padding-left: 30px;
}
.helper.pl40 {
  padding-left: 40px;
}
.helper.pl60 {
  padding-left: 60px;
}
.helper.pr0 {
  padding-right: 0px;
}
.helper.pr10 {
  padding-right: 10px;
}
.helper.pr20 {
  padding-right: 20px;
}
.helper.pr30 {
  padding-right: 30px;
}
.helper.pr40 {
  padding-right: 40px;
}
.helper.pr60 {
  padding-right: 60px;
}