.grid-view-elem {
  padding: 30px;
  margin-bottom: 30px;
  background-color: #f6f7f8;
}
.grid-view-elem-title {
  font-size: 1em;
  margin-bottom: 10px;
  font-weight: 400;
}
.grid-view-title-descr {
  font-size: 0.875em;
  margin-left: 10px;
  vertical-align: top;
  font-weight: 300;
}
.grid-view-elem-description {
  font-size: 0.875em;
  line-height: 1.5;
  font-weight: 300;
  margin: 0;
}