/*
    Mobile Menu Core Style
*/
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer;
}
.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
}
.slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_no-text {
  margin: 0;
}
.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}
.slicknav_nav {
  clear: both;
}
.slicknav_nav ul,
.slicknav_nav li {
  display: block;
}
.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
}
.slicknav_nav .slicknav_item {
  cursor: pointer;
}
.slicknav_nav .slicknav_row {
  display: block;
}
.slicknav_nav a {
  display: block;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  display: inline;
  color: $navyBlueActive;
}
.slicknav_menu:before,
.slicknav_menu:after {
  content: " ";
  display: table;
}
.slicknav_menu:after {
  clear: both;
}
/* IE6/7 support */
.slicknav_menu {
  *zoom: 1;
}
/*
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/
.slicknav_menu {
  font-size: 16px;
}
/* Button */
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #222222;
}
/* Button Text */
.slicknav_menu .slicknav_menutxt {
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 1px 3px #000;
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5;
}
.slicknav_menu {
  background: #4c4c4c;
  padding: 5px;
}
.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
}
.slicknav_nav,
.slicknav_nav ul {
  list-style: none;
  overflow: hidden;
}
.slicknav_nav ul {
  padding: 0;
  margin: 0 0 0 20px;
}
.slicknav_nav .slicknav_row {
  padding: 5px 10px;
  margin: 2px 5px;
}
.slicknav_nav a {
  padding: 5px 10px;
  margin: 2px 5px;
  text-decoration: none;
  color: #fff;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0;
}
.slicknav_nav .slicknav_row:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #fff;
}
.slicknav_nav a:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
  color: #222;
}
.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}
.menu {
  line-height: 40px;
  margin: 0;
  font-size: 15px;
  padding: 0;
  list-style-type: none;
  color: #333333;
  font-weight: 300;
}
.header.header-one-page .menu > li > ul,
.header.header-one-page.header-fixed .menu > li > ul {
  top: 67px;
}
.header.header-fixed .menu > li > ul {
  top: 58px;
}
.menu .sf-with-ul {
  padding-right: 15px;
}

//.menu .sf-with-ul:after {
//  position: absolute;
//  content: '\f107';
//  display: block;
//  top: 12px;
//  right: 10px;
//  font-size: 12px;
//  color: #99a3b1;
//  font-family: 'FontAwesome';
//}

.menu ul {
  font-size: 14px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1) !important;
  position: absolute;
  text-align: left;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  margin: 0;
  list-style-type: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #e4e8ed;
}
.menu ul .sf-with-ul {
  padding-right: 25px;
  text-indent: 15px;
}
.menu ul .sf-with-ul:after {
  content: '+';
  top: 13px;
  right: 14px;
  color: #808488;
  border-radius: 0px;
  width: 18px;
  text-indent: 0;
  height: 18px;
  text-align: center;
  line-height: 16px;
  font-size: 14px;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
}
.menu ul .sf-with-ul:before {
  display: none;
}
.menu ul .sf-with-ul:hover:after {
  color: #00FCE5;
  border-color: #eaedf1;
  content: '\f105';
  font-family: 'FontAwesome';
}
.header-over .menu ul {
  box-shadow: none;
  border: 0;
}
.menu ul ul {
  top: 0;
  left: 100%;
  margin-left: 1px;
}
.menu li {
  position: relative;
  white-space: nowrap;
  *white-space: normal;
  text-align: center;
}
.menu li:hover > ul,
.menu li.sfHover > ul {
  display: block;
  -webkit-transition: none;
  transition: none;
}
.menu a {
  display: block;
  line-height: 1;
  position: relative;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1.1em;
}
.menu > li {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  position: relative;
}
.menu > li > ul {
  top: 57px;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.header-over .menu > li > ul {
  top: 47px;
}
.menu > li > ul:before {
  content: '\f0d8';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  font-family: 'FontAwesome';
  top: -14px;
  left: 50%;
  margin-left: -4px;
  color: white;
  text-shadow: 0px 0px 1px #bbb;
}
.menu > li > ul li {
  background-color: white;
  //background-color: #e8eced;
  border-bottom: 1px solid #e4e8ed;
}
.menu > li > ul li:first-child {
  border-radius: 3px 3px 0 0;
}
.menu > li > ul li:last-child {
  border-radius: 0 0 3px 3px;
}
.menu > li > ul li a {
  position: relative;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  padding: 15px 25px;
}
.menu > li > ul li a:hover {
  color: #3a6d91;
}
.menu > li > ul li a:hover:before {
  opacity: 1;
}
.menu > li > ul li a:hover:not(.sf-with-ul):after {
  width: 60%;
}
.menu > li > ul li a.sf-with-ul {
  padding-right: 40px;
}
.menu > li > ul li a:not(.sf-with-ul):after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 1px;
  left: 50%;
  bottom: -1px;
  background-color: #00FCE5;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  -ms-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}
.menu.upper {
  text-transform: uppercase;
}
.menu-label {
  position: absolute;
  top: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 9px;
  padding: 0px 8px;
  height: 18px;
  border-radius: 4px;
  color: white;
  background-color: #2288cc;
  line-height: 18px;
  letter-spacing: 1px;
}
.menu-label:after {
  content: '';
  position: absolute;
  display: block;
  background-color: #2288cc;
  z-index: -1;
  width: 3px;
  height: 3px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: -1px;
  left: 50%;
  margin-left: -2px;
}
.menu-light > li > a {
  color: white;
}
.menu-light > li > .sf-with-ul:after {
  color: #cbd3dd;
}
.sidr ul li a,
.sidr ul li span {
  position: relative;
}
.sidr .sidr-class-menu-label {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  position: absolute;
  border-radius: 3px;
  right: 10px;
  font-size: 12px;
  padding: 0 12px;
  background-color: #2288cc;
  line-height: 22px;
  top: 0;
  color: white;
  top: 50%;
  margin-top: -11px;
}
.slicknav_menu {
  background-color: transparent;
  padding: 0;
  display: none;
}
.slicknav_btn {
  float: none;
  background-color: transparent;
  margin: 0;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.slicknav_menu .slicknav_menutxt,
.slicknav_menu .slicknav_icon {
  float: none;
}
.slicknav_menu .slicknav_icon-bar {
  box-shadow: none;
  background-color: #808488;
  height: 3px;
  width: 28px;
  margin-bottom: 6px;
  float: none;
}
.slicknav_menu .slicknav_icon-bar:last-child {
  margin: 0;
}
.slicknav_menu.menu-light .slicknav_icon-bar {
  background-color: white;
}
.slicknav_nav {
  color: #333333;
  margin-top: 15px;
  background-color: white;
  border-radius: 3px;
  position: relative;
  overflow: visible;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 99;
  width: 280px;
  right: 14px;
  font-weight: 300;
}
.slicknav_nav:after {
  display: block;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 20px;
  top: -5px;
  border-radius: 2px;
}
.slicknav_nav ul {
  margin: 0;
  padding: 0 15px;
}
.slicknav_nav .slicknav_row {
  position: relative;
}
.slicknav_nav a,
.slicknav_nav .slicknav_row {
  color: inherit;
  outline: none;
  margin: 0;
  font-size: 16px;
  display: block;
  border-radius: 3px;
  text-align: left;
  padding: 7px 15px;
}
.slicknav_nav a .menu-label,
.slicknav_nav .slicknav_row .menu-label {
  top: 10px;
  right: -8px;
  left: auto;
  line-height: 17px;
  height: auto;
  bottom: auto;
  border-radius: 3px;
  font-size: 11px;
  padding: 2px 13px;
}
.slicknav_nav a .menu-label:after,
.slicknav_nav .slicknav_row .menu-label:after {
  display: none;
}
.slicknav_nav a:hover,
.slicknav_nav .slicknav_row:hover {
  color: inherit;
  background-color: #f6f7f8;
  border-radius: 3px;
}
.slicknav_nav .slicknav_arrow {
  font-family: 'FontAwesome';
  font-size: 10px;
  vertical-align: middle;
  color: #808488;
  position: relative;
  top: -1px;
}
.menu-vertical-wrapper.menu-fixed {
  position: fixed;
  top: 0;
}
.menu-vertical-wrapper.menu-bottom {
  position: absolute;
  top: auto;
  bottom: 0;
}
.menu-vertical {
  line-height: 40px;
  margin: 0;
  list-style-type: none;
  color: #333333;
  font-weight: 300;
  margin-bottom: 30px;
  background-color: #f6f7f8;
}
.menu-vertical li.has-children > a {
  padding-right: 40px;
}
.menu-vertical li.has-children > a:before {
  content: '+';
  position: absolute;
  right: 15px;
  color: #808488;
}
.menu-vertical li.has-children.selected > a:before {
  color: #2288cc;
  content: '—';
  font-size: 12px;
}
.menu-vertical ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 40px;
}
.menu-vertical ul li.selected > a {
  color: #3a6d91;
}
.menu-vertical ul a {
  padding-left: 40px;
}
.menu-vertical ul ul a {
  padding-left: 55px;
}
.menu-vertical ul ul ul a {
  padding-left: 70px;
}
.menu-vertical > li {
  position: relative;
}
.menu-vertical > li.selected > a {
  color: #3a6d91;
}
.menu-vertical a {
  padding: 0 15px 0 20px;
  display: block;
  position: relative;
  color: inherit;
  font-size: 14px;
  text-decoration: none;
  line-height: inherit;
  border-radius: 3px;
  border-bottom: 1px solid #eaedf1;
  -webkit-transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  -ms-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.menu-vertical a:hover {
  background-color: #f6f7f8;
}
.vertical-menu-select {
  position: relative;
  padding: 0;
  border: 1px solid #cbd3dd;
  margin-bottom: 40px;
}
.vertical-menu-select select {
  cursor: pointer;
  width: 100%;
  margin: 0;
  background: none;
  border: 1px solid transparent;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1em;
  font-weight: 300;
  color: #444;
  padding: .6em 1.9em 0.6em .8em;
  line-height: 1.3;
}
.vertical-menu-select select:focus {
  outline: none;
  background-color: transparent;
  color: #222;
}
.vertical-menu-select select::-ms-expand {
  display: none;
}
.vertical-menu-select:after {
  //content: "\e688";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  right: 5px;
  top: 7px;
  color: #99a3b1;
  font-family: 'Pe-icon-7-stroke';
  font-size: 30px;
}
.vertical-menu-select:hover {
  border: 1px solid #888;
}
.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 15px;
  background: #f8f8f8;
  color: #333;
  -webkit-box-shadow: inset 0 0 5px 5px #ebebeb;
  -moz-box-shadow: inset 0 0 5px 5px #ebebeb;
  box-shadow: inset 0 0 5px 5px #ebebeb;
}
.sidr .sidr-inner {
  padding: 0 0 15px;
}
.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px;
}
.sidr.right {
  left: auto;
  right: -260px;
}
.sidr.left {
  left: -260px;
  right: auto;
}
.sidr h1,
.sidr h2,
.sidr h3,
.sidr h4,
.sidr h5,
.sidr h6 {
  font-size: 11px;
  font-weight: normal;
  padding: 0 15px;
  margin: 0 0 5px;
  color: #333;
  line-height: 24px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(#ffffff, #dfdfdf);
  background-image: -moz-linear-gradient(#ffffff, #dfdfdf);
  background-image: -o-linear-gradient(#ffffff, #dfdfdf);
  background-image: linear-gradient(#ffffff, #dfdfdf);
  -webkit-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
}
.sidr p {
  font-size: 13px;
  margin: 0 0 12px;
}
.sidr p a {
  color: rgba(51, 51, 51, 0.9);
}
.sidr > p {
  margin-left: 15px;
  margin-right: 15px;
}
.sidr ul {
  display: block;
  margin: 0 0 15px;
  padding: 0;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #ffffff;
}
.sidr ul li {
  display: block;
  margin: 0;
  line-height: 48px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dfdfdf;
}
.sidr ul li:hover,
.sidr ul li.active,
.sidr ul li.sidr-class-active {
  border-top: 1px solid #fff;
  line-height: 48px;
}
.sidr ul li:hover > a,
.sidr ul li:hover > span,
.sidr ul li.active > a,
.sidr ul li.active > span,
.sidr ul li.sidr-class-active > a,
.sidr ul li.sidr-class-active > span {
  -webkit-box-shadow: inset 0 0 15px 3px #ebebeb;
  -moz-box-shadow: inset 0 0 15px 3px #ebebeb;
  box-shadow: inset 0 0 15px 3px #ebebeb;
}
.sidr ul li a,
.sidr ul li span {
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: #333333;
}
.sidr ul li ul {
  border-bottom: none;
  margin: 0;
}
.sidr ul li ul li {
  line-height: 40px;
  font-size: 13px;
}
.sidr ul li ul li:last-child {
  border-bottom: none;
}
.sidr ul li ul li:hover,
.sidr ul li ul li.active,
.sidr ul li ul li.sidr-class-active {
  border-top: 1px solid #fff;
  line-height: 40px;
}
.sidr ul li ul li:hover > a,
.sidr ul li ul li:hover > span,
.sidr ul li ul li.active > a,
.sidr ul li ul li.active > span,
.sidr ul li ul li.sidr-class-active > a,
.sidr ul li ul li.sidr-class-active > span {
  -webkit-box-shadow: inset 0 0 15px 3px #ebebeb;
  -moz-box-shadow: inset 0 0 15px 3px #ebebeb;
  box-shadow: inset 0 0 15px 3px #ebebeb;
}
.sidr ul li ul li a,
.sidr ul li ul li span {
  color: rgba(51, 51, 51, 0.8);
  padding-left: 30px;
}
.sidr ul li ul li ul li a,
.sidr ul li ul li ul li span {
  padding-left: 45px;
}
.sidr ul li ul li ul li ul li a,
.sidr ul li ul li ul li ul li span {
  padding-left: 60px;
}
.sidr form {
  margin: 0 15px;
}
.sidr label {
  font-size: 13px;
}
.sidr input[type="text"],
.sidr input[type="password"],
.sidr input[type="date"],
.sidr input[type="datetime"],
.sidr input[type="email"],
.sidr input[type="number"],
.sidr input[type="search"],
.sidr input[type="tel"],
.sidr input[type="time"],
.sidr input[type="url"],
.sidr textarea,
.sidr select {
  width: 100%;
  font-size: 13px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(51, 51, 51, 0.6);
  display: block;
  clear: both;
}
.sidr input[type=checkbox] {
  width: auto;
  display: inline;
  clear: none;
}
.sidr input[type=button],
.sidr input[type=submit] {
  color: #f8f8f8;
  background: #333333;
}
.sidr input[type=button]:hover,
.sidr input[type=submit]:hover {
  background: rgba(51, 51, 51, 0.9);
}
.menu-side-trigger {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  height: 20px;
  width: 27px;
  border-bottom: 2px solid #808488;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.menu-side-trigger:before,
.menu-side-trigger:after {
  position: absolute;
  content: '';
  width: 27px;
  height: 2px;
  background-color: #808488;
  display: block;
  left: 0;
}
.menu-side-trigger:before {
  top: 2px;
}
.menu-side-trigger:after {
  top: 10px;
}
.menu-side-trigger-right {
  float: right;
  left: auto;
  right: 10px;
}
.menu-side-trigger-light {
  border-color: white;
}
.menu-side-trigger-light:before,
.menu-side-trigger-light:after {
  background-color: white;
}
.sidr {
  box-sizing: content-box;
}
.sidr a {
  -webkit-transition: box-shadow 0.25s ease;
  -moz-transition: box-shadow 0.25s ease;
  -ms-transition: box-shadow 0.25s ease;
  -o-transition: box-shadow 0.25s ease;
  transition: box-shadow 0.25s ease;
}