{%if page.resources != null %}
	<div class="faq-table-of-contents">
		<p class="faq-table-of-contents-title">Additional resources</p>
		<ul style="list-style-type: none">
			{% for resourcestring in page.resources %}
			{% assign resource = resourcestring | split: "|" %}
			{% assign urlparts = resource[0] | split: "#" %}
			<li>
				{%if urlparts[1] != null %}
				<a href="{{ urlparts[0] }}" target="_blank">{{ resource[1] }}</a>
				{% else %}
				<a href="{{ urlparts[0] }}" target="_blank">{{ resource[1] }}</a>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
