<head>

	<!-- Global site tag (gtag.js) - Google Analytics - Universal -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-52993790-7"></script>

	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-52993790-7');
	</script>

	<!-- Google tag (gtag.js) - GA4 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-BBZ59JN3SM"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-BBZ59JN3SM');
	</script>

	<!-- Plausible - Cookieless GA Alternative -->
	<script defer data-domain="docs.search-guard.com" src="https://plausible.search-guard.com/js/script.file-downloads.outbound-links.js"></script>
	<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

	<!-- Page title -->
	<title>
		{% assign productname = "Security" %}

		{% if page.collection == "docs_signals" %}
			{% assign productname = "Alerting" %}
		{% endif %}

		{%if page.isroot != null %}
			Security for Elasticsearch | Search Guard Documentation
		{% else %}
			{%if page.html_title != null %}
		       {{page.html_title}} | {{productname}} for Elasticsearch | Search Guard
			{% else %}
		       {{page.title}} | {{productname}} for Elasticsearch | Search Guard
			{% endif %}
		{% endif %}
	</title>

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@searchguard" />
	<meta name="twitter:creator" content="@searchguard" />
	<meta name="twitter:title" content="{%if page.html_title != null %} {{productname}} for Elasticsearch | {{page.html_title}} | Search Guard {% else %} Security for Elasticsearch | {{page.title}} | Search Guard {% endif %}" />
	<meta name="twitter:description" content="{{page.description}}" />

	{% if page.twitterimage %}
	<meta name="twitter:image" content="{{page.twitterimage}}" />
	<meta name="twitter:image:src" content="{{page.twitterimage}}" />
	<meta name="twitter:image:alt" content="{{page.title}}" />
	{% else %}
	<meta name="twitter:image" content="https://docs.search-guard.com/latest/img/logos/search-guard-social.png" />
	<meta name="twitter:image:src" content="https://docs.search-guard.com/latest/img/logos/search-guard-social.png" />
	<meta name="twitter:image:alt" content="{{page.title}}" />
	{% endif %}

	<!-- facebook -->

	<meta property="og:title" content="{{page.title}}" />
	<meta property="og:description" content="{{page.description}}" />

	{% if page.facebookimage %}
	<meta property="og:image" content="{{page.facebookimage}}" />
	{% else %}
	<meta property="og:image" content="https://docs.search-guard.com/latest/img/logos/search-guard-social.png" />
	{% endif %}

	{%if page.canonical == null %}
	<meta property="og:url" content="https://docs.search-guard.com{{site.baseurl}}{{page.url}}" />
	{% else %}
	<meta property="og:url" content="https://docs.search-guard.com{{site.baseurl}}/{{page.canonical}}" />
	{% endif %}

	<meta property="og:type" content="website" />

	<!-- Page description -->
	<meta name="description" content="{{page.description}}">

	<!-- Meta -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon  -->
	<link rel="icon" type="image/png" href="img/logos/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="img/logos/favicon.svg" />
	<link rel="shortcut icon" href="img/logos/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="img/logos/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="Search Guard" />

	{%if page.canonical == null %}
	  <link rel="canonical" href="https://docs.search-guard.com{{site.baseurl}}{{page.url}}">
	{% else %}
	  <link rel="canonical" href="https://docs.search-guard.com{{site.baseurl}}/{{page.canonical}}">
	{% endif %}

	{%if site.searchguard.islatestversion == true && item.subcategory == null %}
		<meta name="robots" content="index, follow">
	{% else %}
		<meta name="robots" content="noindex, nofollow">
	{% endif %}

	<!-- Include StyleSheets -->
	<link rel="stylesheet" href="css/main.css">

	<!-- Lazy loaded StyleSheets -->
	<link rel="preload" href="css/prism.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="css/prism.css"></noscript>

</head>