<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-52993790-7"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-52993790-7');
</script>


	<!-- Page title -->
	<title>
		{% assign productname = "Security" %}

		{% if page.collection == "docs_signals" %}
			{% assign productname = "Alerting" %}
		{% endif %}

		{%if page.isroot != null %}
			Security for Elasticsearch | Search Guard Documentation
		{% else %}
			{%if page.html_title != null %}
		       {{page.html_title}} | {{productname}} for Elasticsearch | Search Guard
			{% else %}
		       {{page.title}} | {{productname}} for Elasticsearch | Search Guard
			{% endif %}
		{% endif %}
	</title>

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@searchguard" />
	<meta name="twitter:creator" content="@searchguard" />
	<meta name="twitter:title" content="{%if page.html_title != null %} {{productname}} for Elasticsearch | {{page.html_title}} | Search Guard {% else %} Security for Elasticsearch | {{page.title}} | Search Guard {% endif %}" />
	<meta name="twitter:description" content="{{page.description}}" />

	{% if page.twitterimage %}
	<meta name="twitter:image" content="{{page.twitterimage}}" />
	<meta name="twitter:image:src" content="{{page.twitterimage}}" />
	<meta name="twitter:image:alt" content="{{page.title}}" />
	{% else %}
	<meta name="twitter:image" content="https://search-guard.com/docs/latest/img/logos/search-guard-social.png" />
	<meta name="twitter:image:src" content="https://search-guard.com/docs/latest/img/logos/search-guard-social.png" />
	<meta name="twitter:image:alt" content="{{page.title}}" />
	{% endif %}

	<!-- facebook -->

	<meta property="og:title" content="{{page.title}}" />
	<meta property="og:description" content="{{page.description}}" />

	{% if page.facebookimage %}
	<meta property="og:image" content="{{page.facebookimage}}" />
	{% else %}
	<meta property="og:image" content="https://search-guard.com/docs/latest/img/logos/search-guard-social.png" />
	{% endif %}

	{%if page.canonical == null %}
	<meta property="og:url" content="https://docs.search-guard.com{{site.baseurl}}{{page.url}}" />
	{% else %}
	<meta property="og:url" content="https://docs.search-guard.com{{site.baseurl}}/{{page.canonical}}" />
	{% endif %}

	<meta property="og:type" content="website" />

	<!-- Page description -->
	<meta name="description" content="{{page.description}}">

	<!-- Meta -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon  -->
	<link rel="apple-touch-icon" href="img/logos/SG_Fav-57px.png" />        
	<link rel="apple-touch-icon" href="img/logos/SG_Fav-114px.png" sizes="114x114" />        
	<link rel="apple-touch-icon" href="img/logos/SG_Fav-172px.png" sizes="72x72" />                
	<link rel="icon" href="img/logos/SG_Fav-32px.png" sizes="32x32" />
	<link rel="icon" href="img/logos/SG_Fav-144px.png" sizes="144x144" />

	{%if page.canonical == null %}
	  <link rel="canonical" href="https://docs.search-guard.com{{site.baseurl}}{{page.url}}">
	{% else %}
	  <link rel="canonical" href="https://docs.search-guard.com{{site.baseurl}}/{{page.canonical}}">
	{% endif %}

	{%if site.searchguard.islatestversion == true && item.subcategory == null %}
		<meta name="robots" content="index, follow">
	{% else %}
		<meta name="robots" content="noindex, nofollow">
	{% endif %}

	<!-- Include StyleSheets -->
	<link rel="stylesheet" href="css/main.css">

	<!-- Lazy loaded StyleSheets -->
	<link rel="preload" href="css/prism.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="css/prism.css"></noscript>

</head>