								<div class="widget">
									<h3 class="widget-title">Recommended products</h3>
									<!-- Recommended products -->
									<ul class="widget-recommended-products">
										<!-- Recommended product Item -->
										<li class="widget-recommended-product">
											<img src="http://placehold.it/67x67" class="widget-recommended-product-img" alt="Recommended products">
											<a href="#" class="widget-recommended-product-link">
												<h5 class="widget-recommended-product-link-title"> VSResume
													<i class="fa fa-angle-right"></i>
												</h5>
												<p class="widget-recommended-product-link-description">Online CV / Resume Template</p>
											</a>
										</li>
										<!-- End of Recommended product Item -->
										<!-- Recommended product Item -->
										<li class="widget-recommended-product">
											<img src="http://placehold.it/67x67" class="widget-recommended-product-img" alt="Recommended products">
											<a href="#" class="widget-recommended-product-link">
												<h5 class="widget-recommended-product-link-title"> VSDocs
													<i class="fa fa-angle-right"></i>
												</h5>
												<p class="widget-recommended-product-link-description">Online Documentation Template</p>
											</a>
										</li>
										<!-- End of Recommended product Item -->
										<!-- Recommended product Item -->
										<li class="widget-recommended-product">
											<img src="http://placehold.it/67x67" class="widget-recommended-product-img" alt="Recommended products">
											<a href="#" class="widget-recommended-product-link">
												<h5 class="widget-recommended-product-link-title"> Triablo
													<i class="fa fa-angle-right"></i>
												</h5>
												<p class="widget-recommended-product-link-description">eCommerce Landing Page</p>
											</a>
										</li>
										<!-- End of Recommended product Item -->
									</ul>
									<!-- End of Recommended products -->
									<!-- Recommended products -->
									<ul class="widget-recommended-products">
										<!-- Recommended product Item -->
										<li class="widget-recommended-product">
											<img src="http://placehold.it/67x67" class="widget-recommended-product-img" alt="Recommended products">
											<a href="#" class="widget-recommended-product-link">
												<h5 class="widget-recommended-product-link-title"> Paradise Cakes
													<i class="fa fa-angle-right"></i>
												</h5>
												<p class="widget-recommended-product-link-description">eCommerce Landing Page</p>
											</a>
										</li>
										<!-- End of Recommended product Item -->
										<!-- Recommended product Item -->
										<li class="widget-recommended-product">
											<img src="http://placehold.it/67x67" class="widget-recommended-product-img" alt="Recommended products">
											<a href="#" class="widget-recommended-product-link">
												<h5 class="widget-recommended-product-link-title"> EatLand
													<i class="fa fa-angle-right"></i>
												</h5>
												<p class="widget-recommended-product-link-description">eCommerce Landing Page</p>
											</a>
										</li>
										<!-- End of Recommended product Item -->
										<!-- Recommended product Item -->
										<li class="widget-recommended-product">
											<img src="http://placehold.it/67x67" class="widget-recommended-product-img" alt="Recommended products">
											<a href="#" class="widget-recommended-product-link">
												<h5 class="widget-recommended-product-link-title"> VSBuilder
													<i class="fa fa-angle-right"></i>
												</h5>
												<p class="widget-recommended-product-link-description">Pure HTML and CSS Page Builder</p>
											</a>
										</li>
										<!-- End of Recommended product Item -->
									</ul>
									<!-- End of Recommended products -->
								</div>
								<div class="widget">
									<h3 class="widget-title">Tags</h3>
									<!-- Tags -->
									<ul class="tags">
										<li class="tag-item">
											<a href="#">html</a>
										</li>
										<li class="tag-item">
											<a href="#">css</a>
										</li>
										<li class="tag-item">
											<a href="#">javascript</a>
										</li>
										<li class="tag-item">
											<a href="#">jquery</a>
										</li>
										<li class="tag-item">
											<a href="#">less</a>
										</li>
										<li class="tag-item">
											<a href="#">sass</a>
										</li>
										<li class="tag-item">
											<a href="#">haml</a>
										</li>
										<li class="tag-item">
											<a href="#">gulp</a>
										</li>
									</ul>
									<!-- End of Tags -->
								</div>