{% assign items = site[include.collectionname] | where:'category', include.category | sort: 'order' %}
<li>
		<a href="#" {% if include.category == page.category %} class="selected" {% endif %}>{{site.labels.navigation[include.category]}}</a>
		<ul style="list-style-type: none;">
			{% for item in items %}
			<li {% if item.title == page.title %} class="has-children selected" {% endif %}>				
				<a {% if item.title == page.title %} class="selected" {% endif %} href="{{site.baseurl}}{{ item.url }}">{{ item.title }}</a>
				{% if item.subcategory != null %}
				
				{% assign subitems = site[include.collectionname] | where:'category', item.subcategory | sort: 'order' %}

				<ul style="display:block;">
				{% for subitem in subitems %}
					<li>
						<a {% if subitem.title == page.title and subitem.category == page.category%} class="selected" {% endif %} href="{{site.baseurl}}{{ subitem.url }}">{{ subitem.title }}</a>
					</li>
				{% endfor %}
				</ul>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
</li>