								<!-- Vertical Menu -->
								<nav class="menu-vertical-wrapper">
									<ul class="menu-vertical  js-menu-vertical" data-prepend-to=".js-layout" data-select="Menu" >
										{% include left_nav_items.html collectionname="docs" category="quickstart" %}
										{% include left_nav_items.html collectionname="docs" category="installation" %}
										{% include left_nav_items.html collectionname="docs" category="tls" %}
										{% include left_nav_items.html collectionname="docs" category="configuration" %}
										{% include left_nav_items.html collectionname="docs" category="authauth" %}
										{% include left_nav_items.html collectionname="docs" category="rolespermissions" %}
										{% include left_nav_items.html collectionname="docs" category="dlsfls" %}
										{% include left_nav_items.html collectionname="docs" category="auditlog" %}
										{% include left_nav_items.html collectionname="docs" category="restapi" %}
										{% include left_nav_items.html collectionname="docs" category="esstack" %}
										{% include left_nav_items.html collectionname="docs" category="integration_other" %}										
									</ul>
								</nav>