								<!-- Vertical Menu -->
								<nav class="menu-vertical-wrapper">
									<ul class="menu-vertical  js-menu-vertical" data-prepend-to=".js-layout" data-select="Menu" >
										{% include left_nav_items.html collectionname="docs_introduction" category="introduction" %}																		
										{% include left_nav_items.html collectionname="docs_quickstart" category="quickstart" %}
										{% include left_nav_items.html collectionname="docs_first_steps" category="first_steps" %}
										{% include left_nav_items.html collectionname="docs_versions" category="versions" %}
										{% include left_nav_items.html collectionname="docs_installation" category="installation" %}
										{% include left_nav_items.html collectionname="docs_tls" category="tls" %}
										{% include left_nav_items.html collectionname="docs_configuration_changes" category="configuration" %}

										{% include left_nav_items.html collectionname="docs_auth_auth" category="authauth" %}
										{% include left_nav_items.html collectionname="docs_roles_permissions" category="rolespermissions" %}

										

										{% include left_nav_items.html collectionname="docs_dls_fls" category="dlsfls" %}
										
										{% include left_nav_items.html collectionname="docs_audit_logging" category="auditlog" %}

										
										{% include left_nav_items.html collectionname="docs_rest_api" category="restapi" %}

										
										{% include left_nav_items.html collectionname="docs_kibana" category="kibana" %}
										
										{% include left_nav_items.html collectionname="docs_signals" category="signals" %}
										
										{% include left_nav_items.html collectionname="docs_elasticstack" category="elasticstack" %}
										
										
									
										{% include left_nav_items.html collectionname="docs_other_integrations" category="otherintegrations" %}
										{% include left_nav_items.html collectionname="docs_systemintegrators" category="systemintegrators" %}		
									
									</ul>
								</nav>