{% assign items = site[include.collectionname] | where:'category', include.category | sort: 'order' %}
<li>
		<a href="#"
			{% if include.category == page.category %} class="selected left-nav-level-1" 
			{% else %} class="left-nav-level-1" 
			{% endif %}>
			{{site.labels.navigation[include.category]}}
		</a>
		
		<ul style="list-style-type: none;">
			{% for item in items %}
			<li {% if item.title == page.title and item.category == page.category %} class="selected" {% endif %}>				
				<a href="{{site.baseurl}}{{ item.url }}"
					{% if item.title == page.title and item.category == page.category %} class="selected left-nav-level-2" 
					{% else %} class="left-nav-level-2" 
					{% endif %}>
					{{ item.title }}
				</a>
				{% if item.subcategory != null %}
				
				{% assign subitems = site[include.collectionname] | where:'category', item.subcategory | sort: 'order' %}

				<ul style="display:block;">
				{% for subitem in subitems %}
					<li>
						<a href="{{site.baseurl}}{{ subitem.url }}"
							{% if subitem.title == page.title and subitem.category == page.category%} class="selected left-nav-level-3" 
							{% else %} class="left-nav-level-3" 
							{% endif %}>
							{{ subitem.title }}
						</a>
						
						{% if subitem.subcategory != null %}
				
							{% assign subsubitems = site[include.collectionname] | where:'category', subitem.subcategory | sort: 'order' %}

							<ul style="display:block;">
							{% for subsubitem in subsubitems %}
								<li>
									<a href="{{site.baseurl}}{{ subsubitem.url }}"
										{% if subsubitem.title == page.title and subsubitem.category == page.category%} class="selected left-nav-level-4" 
										{% else %} class="left-nav-level-4" 
										{% endif %}>
										{{ subsubitem.title }}
									</a>
								</li>
							{% endfor %}
							</ul>
							{% endif %}
					</li>
				{% endfor %}
				</ul>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
</li>