		<!-- Header -->
		<div class="header background ">
			<div class="container-fluid container-spaced">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Logo Image -->
						<a href="{{site.domain}}{{site.baseurl}}/" class="logo-image">
							<img src="img/logos/logo-white.svg" alt="Search Guard - Enterprise Security for Elasticsearch">
						</a>
						<!-- End of Logo Image -->
					</div>
					<div class="col-md-9 col-sm-6 col-xs-6">
						<!-- Menu -->
						<nav class="right helper">
							<ul class="menu sf-menu js-menu">
								<li>
									<a href="{{site.baseurl}}/" class="main-nav-level-1">Documentation</a>
								</li>
								<li>
									<a href="#" class="main-nav-level-1">Changelogs</a>
									<ul>
										<li>
											<a href="{{site.baseurl}}/changelogs-searchguard" class="main-nav-level-2">Search Guard Security</a>
										</li>
										<li>
											<a href="{{site.baseurl}}/changelogs-kibana" class="main-nav-level-2">Kibana</a>
										</li>
										<li>
											<a href="{{site.baseurl}}/changelogs-tlstool" class="main-nav-level-2">TLS Tool</a>
										</li>
										<li>
											<a href="{{site.baseurl}}/changelogs-ear" class="main-nav-level-2">Search Guard Encryption at Rest</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="main-nav-level-1">Versions</a>
									<ul>
										{% for version in site.data.sgversions_docroots.versions %}
										<li>
											<a href="/{{version.docroot}}/">{{version.label}}</a>
										</li>
										{% endfor %}
									</ul>
								</li>
								<li>
									<a href="https://forum.search-guard.com" target="_blank" class="main-nav-level-1">Forum</a>
								</li>
								<li>
									<a href="https://search-guard.com/contacts/" target="_blank" class="main-nav-level-1-bold">Contact Us</a>
								</li>
							</ul>
						</nav>
						<!-- End of Menu -->
					</div>
				</div>
			</div>
		</div>
		<!-- End of Header -->