		<!-- Header -->
		<div class="header background ">
			<div class="container-fluid container-spaced">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Logo Image -->
						<a href="index" class="logo-image">
							<img src="img/logos/search-guard-logo.png" alt="Search Guard - Enterprise Security for Elasticsearch">
						</a>
						<!-- End of Logo Image -->
					</div>
					<div class="col-md-9 col-sm-6 col-xs-6">
						<!-- Menu -->
						<nav class="right helper">
							<ul class="menu sf-menu js-menu">
								<li>
									<!-- Just the first article in the collection -->
									<a href="index.html" class="main-nav-level-1">Documentation</a>									
									<ul>

										{% include main_nav_items.html collectionname="docs_quickstart" category="quickstart" %}
										{% include main_nav_items.html collectionname="docs_versions" category="versions" %}								
										{% include main_nav_items.html collectionname="docs_installation" category="installation" %}
										{% include main_nav_items.html collectionname="docs_tls" category="tls" %}										
										{% include main_nav_items.html collectionname="docs_configuration_changes" category="configuration" %}				
										
										{% include main_nav_items.html collectionname="docs_auth_auth" category="authauth" %}
										

										{% include main_nav_items.html collectionname="docs_roles_permissions" category="rolespermissions" %}

										{% include main_nav_items.html collectionname="docs_dls_fls" category="dlsfls" %}

										{% include main_nav_items.html collectionname="docs_audit_logging" category="auditlog" %}

										{% include main_nav_items.html collectionname="docs_rest_api" category="restapi" %}

										{% include main_nav_items.html collectionname="docs_kibana" category="kibana" %}

										{% include main_nav_items.html collectionname="docs_elasticstack" category="elasticstack" %}
																
										{% include main_nav_items.html collectionname="docs_other_integrations" category="otherintegrations" %}
										{% include main_nav_items.html collectionname="docs_systemintegrators" category="systemintegrators" %}
										
									</ul>
								</li>

								<li>
									<a href="index.html" class="main-nav-level-1">Troubleshooting</a>									
									<ul>
										{% include main_nav_items_flat.html collectionname="troubleshooting" category="troubleshooting" %}
									</ul>
								</li>
								<li>
									<a href="index.html" class="main-nav-level-1">Resources</a>									
									<ul>
										{% include main_nav_items_flat.html collectionname="resources" category="resources" %}
									</ul>
								</li>

								<li>
									<a href="index.html" class="main-nav-level-1">Changelogs</a>									
									<ul>
										{% include main_nav_items_flat.html collectionname="changelogs" category="changelogs" %}
									</ul>
								</li>
								<li>
									<a href="index.html" class="main-nav-level-1">Versions</a>									
									<ul>
										{% for version in site.searchguard.allversions %}
										<li>
											<a href="/{{site.docroots[version]}}/index">{{site.labels.navigation[version]}}</a>
										</li>
										{% endfor %}
									</ul>
								</li>

							</ul>
						</nav>
						<!-- End of Menu -->
					</div>
				</div>
			</div>
		</div>
		<!-- End of Header -->