{% assign sgversions = site.sgversions[include.versions] %}




<table>
  <thead>
  <tr>
    <th>Elasticsearch</th>
    <th>Search Guard Encryption at Rest Plugin</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>

  {% for version in sgversions %}

    {% assign sgversions = version | split: "|" %}
    
      {% capture sg_url %}
        https://maven.search-guard.com//search-guard-encryption-at-rest-release/com/floragunn/search-guard-encryption-at-rest/search-guard-encryption-at-rest-plugin/{{ sgversions[1] }}-es-{{ sgversions[0] }}/search-guard-encryption-at-rest-plugin-{{ sgversions[1] }}-es-{{ sgversions[0] }}.zip
      {% endcapture %}

  <tr>
    
    <td>{{ sgversions[0] }} </td>

    {% if sgversions[2] == "yes" %}

    <!-- available version -->

    <td><a href="{{ sg_url }}" target="_blank">{{ sgversions[1] }}</a></td>

    <!-- is EOL switch -->
    {% if sgversions[3] == "no" %}
    <td>Active</td>
    {% else %}
    <td>EOL</td>
    {% endif %}
    
    {% else %}

    <!-- unavailable version -->

    <td>{{ sgversions[1] }}</td>

    <td>{{ sgversions[1] }}</td>

    <td>EOL</td>

    {% endif %}

  </tr>
  {% endfor %}
  </tbody>
</table>