{% assign sgversions = site.sgversions[include.versions] %}




<table>
  <thead>
  <tr>
    <th>Elasticsearch</th>
    <th>Search Guard Elasticsearch Plugin</th>
    <th>Search Guard Kibana Plugin</th>
    <th>Search Guard Demo Installer</th>
    <th>Kubernetes Compatibility</th>
    <th>Helm Charts</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>

  {% for version in sgversions %}

    {% assign sgversions = version | split: "|" %}
    
      {% capture sg_url %}
        https://maven.search-guard.com/search-guard-flx-release/com/floragunn/search-guard-flx-elasticsearch-plugin/{{ sgversions[1] }}-es-{{ sgversions[0] }}/search-guard-flx-elasticsearch-plugin-{{ sgversions[1] }}-es-{{ sgversions[0] }}.zip      
      {% endcapture %}    
      {% capture kibana_url %}
        https://maven.search-guard.com/search-guard-flx-release/com/floragunn/search-guard-flx-kibana-plugin/{{ sgversions[2] }}-es-{{ sgversions[0] }}/search-guard-flx-kibana-plugin-{{ sgversions[2] }}-es-{{ sgversions[0] }}.zip    
      {% endcapture %}  
      {% capture demo_url %}
        https://maven.search-guard.com/search-guard-flx-release/com/floragunn/search-guard-flx-elasticsearch-plugin/{{ sgversions[1] }}-es-{{ sgversions[0] }}/search-guard-flx-elasticsearch-plugin-{{ sgversions[1] }}-es-{{ sgversions[0] }}-demo-installer.sh      
      {% endcapture %}  


  <tr>
    
    <td>{{ sgversions[0] }} </td>

    {% if sgversions[3] == "yes" %}

    <!-- available version -->

    <td><a href="{{ sg_url }}" target="_blank">{{ sgversions[1] }}</a></td>

    <td><a href="{{ kibana_url }}" target="_blank">{{ sgversions[2] }}</a></td>

    <td><a href="{{ demo_url }}" target="_blank">{{ sgversions[1] }}</a></td>

    <td>{{ sgversions[5] }}</td>
    <td>{{ sgversions[6] }}</td>
    <!-- is EOL switch -->
    {% if sgversions[4] == "no" %}
    <td>Active</td>
    {% else %}
    <td>EOL</td>
    {% endif %}
    
    {% else %}

    <!-- unavailable version -->

    <td>{{ sgversions[1] }}</td>

    <td>{{ sgversions[2] }}</td>

    <td>{{ sgversions[1] }}</td>

    <td>EOL</td>

    {% endif %}

  </tr>
  {% endfor %}
  </tbody>
</table>