{% assign sgversions = site.sgversions[include.versions] %}

<h2>{{include.title}}</h2>
<table>
  <thead>
  <tr>
    <th>Elasticsearch</th>
    <th>Search Guard</th>
    <th>Kibana Plugin</th>
    <th>SG Admin Standalone</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>

  {% for version in sgversions %}

  {% assign sgversions = version | split: "|" %}

  {% if include.issuite %}

  {% capture sg_url %}
  https://maven.search-guard.com/search-guard-suite-release/com/floragunn/search-guard-suite-plugin/{{ sgversions[0] }}-{{ sgversions[1] }}/search-guard-suite-plugin-{{ sgversions[0] }}-{{ sgversions[1] }}.zip
  {% endcapture %}
  {% capture sgadmin_url %}
  https://maven.search-guard.com/search-guard-suite-release/com/floragunn/search-guard-suite-plugin/{{ sgversions[0] }}-{{ sgversions[1] }}/search-guard-suite-plugin-{{ sgversions[0] }}-{{ sgversions[1] }}-sgadmin-standalone.zip
  {% endcapture %}
  {% capture kibana_url %}
  https://maven.search-guard.com/search-guard-kibana-plugin-release/com/floragunn/search-guard-kibana-plugin/{{ sgversions[0] }}-{{ sgversions[2] }}/search-guard-kibana-plugin-{{ sgversions[0] }}-{{ sgversions[2] }}.zip
  {% endcapture %}

  {% else %}
  {% capture sg_url %}
  https://maven.search-guard.com/search-guard-release/com/floragunn/search-guard-{{include.majorversion}}/{{ sgversions[0] }}-{{ sgversions[1] }}/search-guard-{{include.majorversion}}-{{ sgversions[0] }}-{{ sgversions[1] }}.zip
  {% endcapture %}
  {% capture sgadmin_url %}
  https://maven.search-guard.com/search-guard-release/com/floragunn/search-guard-{{include.majorversion}}/{{ sgversions[0] }}-{{ sgversions[1] }}/search-guard-{{include.majorversion}}-{{ sgversions[0] }}-{{ sgversions[1] }}-sgadmin-standalone.zip
  {% endcapture %}
  {% capture kibana_url %}
  https://maven.search-guard.com/search-guard-kibana-plugin-release/com/floragunn/search-guard-kibana-plugin-{{include.majorversion}}/{{ sgversions[0] }}-{{ sgversions[2] }}/search-guard-kibana-plugin-{{include.majorversion}}-{{ sgversions[0] }}-{{ sgversions[2] }}.zip
  {% endcapture %}


  {% endif %}

  <tr>

    <td>{{ sgversions[0] }} </td>

    {% if sgversions[3] == "yes_no_sgadmin" %}

    <td><a href="{{ sg_url }}" target="_blank">{{ sgversions[1] }}</a></td>

    <td><a href="{{ kibana_url }}" target="_blank">{{ sgversions[2] }}</a></td>

    <td><a href="https://maven.search-guard.com/search-guard-suite-release/com/floragunn/search-guard-suite-plugin/7.10.2-49.0.0/search-guard-suite-plugin-7.10.2-49.0.0-sgadmin-standalone.zip" target="_blank">49.0.0</a></td>

    <!-- is EOL switch -->
    {% if sgversions[4] == "no" %}
    <td>Active</td>
    {% else %}
    <td>EOL</td>
    {% endif %}

    {% elsif sgversions[3] == "yes" %}

    <!-- available version -->

    <td><a href="{{ sg_url }}" target="_blank">{{ sgversions[1] }}</a></td>

    <td><a href="{{ kibana_url }}" target="_blank">{{ sgversions[2] }}</a></td>

    <td><a href="{{ sgadmin_url }}" target="_blank">{{ sgversions[1] }}</a></td>

    <!-- is EOL switch -->
    {% if sgversions[4] == "no" %}
    <td>Active</td>
    {% else %}
    <td>EOL</td>
    {% endif %}

    {% else %}

    <!-- unavailable version -->

    <td>{{ sgversions[1] }}</td>

    <td>{{ sgversions[2] }}</td>

    <td>{{ sgversions[1] }}</td>

    <td>EOL</td>

    {% endif %}

  </tr>
  {% endfor %}
  </tbody>
</table>