{% assign sgversions = site.sgversions[include.versions] %}




<table>
  <tr><th colspan=2 style="text-align:center; font-weight:bold">Platform Independent</th></tr>
  <tr><td colspan=2 style="text-align:center"><a href="https://maven.search-guard.com//search-guard-flx-release/com/floragunn/sgctl/{{ site.sgversions.sgctl }}/sgctl-{{ site.sgversions.sgctl }}.sh">Search Guard Control Tool sgctl {{ site.sgversions.sgctl }}</a></td></tr>
</table>

<h2>{{include.title}}</h2>
<table>
  <thead>
  <tr>
    <th>Elasticsearch</th>
    <th>Search Guard</th>
    <th>Kibana Plugin</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>

  {% for version in sgversions %}

    {% assign sgversions = version | split: "|" %}
    
      {% capture sg_url %}
        https://maven.search-guard.com/search-guard-flx-release/com/floragunn/search-guard-flx-elasticsearch-plugin/{{ sgversions[1] }}-es-{{ sgversions[0] }}/search-guard-flx-elasticsearch-plugin-{{ sgversions[1] }}-es-{{ sgversions[0] }}.zip      
      {% endcapture %}    
      {% capture kibana_url %}
        https://maven.search-guard.com/search-guard-flx-release/com/floragunn/search-guard-flx-kibana-plugin/{{ sgversions[2] }}-es-{{ sgversions[0] }}/search-guard-flx-kibana-plugin-{{ sgversions[2] }}-es-{{ sgversions[0] }}.zip    
      {% endcapture %}  



  <tr>
    
    <td>{{ sgversions[0] }} </td>

    {% if sgversions[3] == "yes" %}

    <!-- available version -->

    <td><a href="{{ sg_url }}" target="_blank">{{ sgversions[1] }}</a></td>

    <td><a href="{{ kibana_url }}" target="_blank">{{ sgversions[2] }}</a></td>

    <!-- is EOL switch -->
    {% if sgversions[4] == "no" %}
    <td>Active</td>
    {% else %}
    <td>EOL</td>
    {% endif %}
    
    {% else %}

    <!-- unavailable version -->

    <td>{{ sgversions[1] }}</td>

    <td>{{ sgversions[2] }}</td>

    <td>{{ sgversions[1] }}</td>

    <td>EOL</td>

    {% endif %}

  </tr>
  {% endfor %}
  </tbody>
</table>