<table>
	<thead>
    <tr>
      <th>Elasticsearch</th>
      <th>Signals Elasticsearch Plugin</th>      
      <th>Signals Kibana Plugin</th>  
    </tr>
  </thead>
  <tbody>
    <tr>
        
        <td>7.4.0</td>
        
        <td><a href="https://releases.floragunn.com/search-guard-7-7.4.0-SIGNALS-PREVIEW-0.3.zip" target="_blank">search-guard-7-7.4.0-SIGNALS-PREVIEW-0.3.zip</a></td>

        <td><a href="https://releases.floragunn.com/search-guard-kibana-plugin-7.4.0-SIGNALS-PREVIEW-0.3.zip" target="_blank">search-guard-kibana-plugin-7.4.0-SIGNALS-PREVIEW-0.3.zip</a></td>

    </tr>

    <tr>
        
        <td>7.3.1</td>
        
        <td><a href="https://releases.floragunn.com/search-guard-7-7.3.1-SIGNALS-PREVIEW-0.2.zip" target="_blank">search-guard-7-7.3.1-SIGNALS-PREVIEW-0.2.zip</a></td>

        <td><a href="https://releases.floragunn.com/search-guard-kibana-plugin-7.3.1-SIGNALS-PREVIEW-0.2.zip" target="_blank">search-guard-kibana-plugin-7.3.1-SIGNALS-PREVIEW-0.2.zip</a></td>

    </tr>

  </tbody>
</table>