<table>
	<thead>
    <tr>
      <th>Elasticsearch</th>
      <th>Signals Elasticsearch Plugin</th>      
      <th>Signals Kibana Plugin</th>  
    </tr>
  </thead>
  <tbody>

    <tr>
        
        <td>7.5.0</td>
        
        <td><a href="https://releases.floragunn.com/signals_beta_1/search-guard-7-7.5.0-Signals-1.0-beta1.zip" target="_blank">Beta 1</a></td>

        <td><a href="https://releases.floragunn.com/signals_beta_1/search-guard-kibana-plugin-7-7.5.0-Signals-1.0-beta1.zip" target="_blank">Beta 1</a></td>

    </tr>

    <tr>
        
        <td>7.4.2</td>
        
        <td><a href="https://releases.floragunn.com/signals_beta_1/search-guard-7-7.4.2-Signals-1.0-beta1.zip" target="_blank">Beta 1</a></td>

        <td><a href="https://releases.floragunn.com/signals_beta_1/search-guard-kibana-plugin-7-7.4.2-Signals-1.0-beta1.zip" target="_blank">Beta 1</a></td>

    </tr>

    <tr>
        
        <td>7.4.1</td>
        
        <td><a href="https://releases.floragunn.com/signals_beta_1/search-guard-7-7.4.1-Signals-1.0-beta1.zip" target="_blank">Beta 1</a></td>

        <td><a href="https://releases.floragunn.com/signals_beta_1/search-guard-kibana-plugin-7-7.4.1-Signals-1.0-beta1.zip" target="_blank">Beta 1</a></td>

    </tr>


    <tr>
        
        <td>7.4.0</td>
        
        <td><a href="https://releases.floragunn.com/signals_beta_1/search-guard-7-7.4.0-Signals-1.0-beta1.zip" target="_blank">Beta 1</a></td>

        <td><a href="https://releases.floragunn.com/signals_beta_1/search-guard-kibana-plugin-7-7.4.0-Signals-1.0-beta1.zip" target="_blank">Beta 1</a></td>

    </tr>

    <tr>
        
        <td>7.3.2</td>
        
        <td><a href="https://releases.floragunn.com/signals_beta_1/search-guard-7-7.3.2-Signals-1.0-beta1.zip" target="_blank">Beta 1</a></td>

        <td><a href="https://releases.floragunn.com/signals_beta_1/search-guard-kibana-plugin-7.3.2-Signals-1.0-beta1.zip" target="_blank">Beta 1</a></td>

    </tr>

  </tbody>
</table>