<div class="row vcenter" style="margin-bottom: 10px;">
	<div class="col-xs-9">
		<span class="version">Version: {{site.searchguard.version}}
		{%if site.searchguard.islatestversion == false%}
		<br /> This is an older version of Search Guard. Switch to <a href="/latest">Latest version</a>		
		{% endif %}	    
		</span>
	</div>
	<div class="col-xs-3">
		{%if page.edition == "community"%}
			<span href="#" class="button stroke rounded small edition-button edition-button-community pull-right">Community</span>		
		{% endif %}
		{%if page.edition == "enterprise"%}
			<span href="#" class="button stroke rounded small edition-button edition-button-enterprise pull-right">Enterprise</span>		
		{% endif %}
		{%if page.edition == "compliance"%}
			<span href="#" class="button stroke rounded small edition-button edition-button-compliance pull-right">Compliance</span>		
		{% endif %}
		{%if page.edition == "beta"%}
			<span href="#" class="button stroke rounded small edition-button edition-button-beta pull-right">Beta</span>
		{% endif %}
	</div>
</div>

{%if page.edition == "preview"%}
<div class="row vcenter" style="margin-bottom: 10px;">
	<div class="col-xs-12">
		<p class="note js-note note-warning">
		This is a technical preview. Technical preview features are not fully supported, may not be functionally complete, and are not suitable for deployment in production. We encourage you to try them out and provide your feedback, good and bad, on the <a href="https://forum.search-guard.com" target="_blank">Search Guard forum</a>. This will help us improve and add any features you might be missing.
	    </p>
	</div>
</div>
{% endif %}