<!DOCTYPE html>
<html lang="en">

 {% include html_head.html %}

<body class="">
	<!--[if lt IE 8]>
	    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- End of Preloader -->
	<div class="page js-page ">

		{% include main_navigation.html %}

		<div id="content">
			<div class="container-fluid container-spaced">
				<div class="layout with-left-sidebar js-layout">
					<div class="row">
						<div class="col-md-3 hidden-sm hidden-xs">
							<div class="sidebar js-sidebar">
								
								<h4>Category</h4>
								<div id="refinement-list-category" class="refinement-list">
								</div>

								<h4>Topic</h4>
								<div id="refinement-list-h1" class="refinement-list">
								</div>
							</div>
						</div>
						<div class="col-md-9">
							{% include version.html %}

							<div id="search-box">
							  <!-- SearchBox widget will appear here -->
							</div>

							<div id="hits">
  								<!-- Hits widget will appear here -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% include footer.html %}

	</div>
		
	{% include scripts.html %}

</body>
	
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3.2/dist/instantsearch.min.js"></script>
<script src="js/search.js"></script>

</html>