<!DOCTYPE html>
<html lang="en">

 {% include html_head.html %}

<body class="">
	<!--[if lt IE 8]>
	    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!-- End of Preloader -->
	<div class="page js-page ">

		{% include main_navigation.html %}

		<div id="content">
			<div class="container-fluid container-spaced">
				<div class="layout with-left-sidebar js-layout">
					<div class="row">
						<div class="col-md-3 hidden-sm hidden-xs">
							<div class="sidebar">

								{% include left_nav_search.html %}
								
								{% include left_nav_docs.html %}

							</div>
						</div>
						<div class="col-md-9">
							{% include version.html %}
							{{ content }}
							<h2>Search Guard 5: Latest stable versions</h2>
							<table>
  								<thead>
							    <tr>
							      <th>Elasticsearch</th>
							      <th>Search Guard</th>
							      <th>Kibana Plugin</th>
							      <th>Support available</th>
							    </tr>
							  </thead>
							  <tbody>

								{% for version in site.sgversions.v5 %}
							    <tr>							    
							      {% assign sgversions = version | split: "|" %}		
							      <td>{{ sgversions[0] }}</td>

							      {% if sgversions[4] == "link" %}	
      <td><a href="https://releases.floragunn.com/search-guard-5-{{ sgversions[1] }}.zip" target="_blank">{{ sgversions[1] }}</a></td>
      							{% else %}
      								<td>{{ sgversions[1] }}</td>
								{% endif %}


								  <td>{{ sgversions[2] }}</td>
								  <td>{{ sgversions[3] }}</td>
							    </tr>
							    {% endfor %}
							  </tbody>
							</table>


							<h2>Search Guard 2: Latest stable versions</h2>

							<b>Elasticsearch and Search Guard 2 are end of life and not supported anymore</b>
							<br/><br/>
							<table>
  								<thead>
							    <tr>
							      <th>Elasticsearch</th>
							      <th>Search Guard</th>
							      <th>Support available</th>
							    </tr>
							  </thead>
							  <tbody>

								{% for version in site.sgversions.v2 %}
							    <tr>
							      {% assign sgversions = version | split: "|" %}							       
							      <td>{{ sgversions[0] }}</td>
							      <td>{{ sgversions[1] }}</td>								  
								  <td>{{ sgversions[2] }}</td>
							    </tr>
							    {% endfor %}
							  </tbody>
							</table>


						</div>
					</div>
				</div>
			</div>
		</div>

		{% include footer.html %}

	</div>
		
	{% include scripts.html %}</body>

	<script type="application/ld+json">
	{
  		"@context": "http://schema.org",
  		"@type": "WebSite",
  		"url": "https://docs.search-guard.com{{site.baseurl}}",
  		"potentialAction": {
    		"@type": "SearchAction",
    		"target": "https://docs.search-guard.com/latest/search.html?q={search_term_string}",
    		"query-input": "required name=search_term_string"
  		}
	}
	</script>
</html>