<!DOCTYPE html>
<html lang="en">

 {% include html_head.html %}

<body class="">
	<!--[if lt IE 8]>
	    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!-- End of Preloader -->
	<div class="page js-page ">

		{% include main_navigation.html %}

		<div id="content">
			<div class="container-fluid container-spaced">
				<div class="layout with-left-sidebar js-layout">
					<div class="row">
						<div class="col-md-3 hidden-sm hidden-xs">
							<div class="sidebar">

								{% include left_nav_search.html %}
								
								{% include left_nav_docs.html %}

							</div>
						</div>
						<div class="col-md-9">
							{% include version.html %}
							{{ content }}
							<h2>Search Guard Versions</h2>

							<h3>Search Guard 7 </h3>
							
							If you are upgrading from Elasticsearch 6.7.x to Elasticsearch >= 7.0.0, please read the [upgrade instructions to Elasticsearch 6.7.x](../_docs_installation/installation_upgrading_6_7.md). 
							{: .note .js-note .note-warning}
							
							{% include sgversions.html majorversion="sg7" %}

							<h3>Search Guard 6 </h3>
							
							{% include sgversions.html majorversion="sg6" %}

						</div>
					</div>
				</div>
			</div>
		</div>

		{% include footer.html %}

	</div>
		
	{% include scripts.html %}</body>

	<script type="application/ld+json">
	{
  		"@context": "http://schema.org",
  		"@type": "WebSite",
  		"url": "https://preview-docs.search-guard.com{{site.baseurl}}",
  		"potentialAction": {
    		"@type": "SearchAction",
    		"target": "https://preview-docs.search-guard.com/latest/search.html?q={search_term_string}",
    		"query-input": "required name=search_term_string"
  		}
	}
	</script>
</html>